.cardContainer {
    max-width: 20em;
    display: block;
    margin: 1em;
}

.card {
    padding: 1em;
    background-color: #cfffff;
    max-width: 20em;
    display: block;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;

    a {
        background: #719fc0;
        width: 100%;
        display: block;
        padding: 1em;
        color: white;
    }

    a:hover {
        text-decoration: none;
        background: #3596dc;
    }
}