.cardContainerXl {
    display: inline-block;
    margin-right: 2em;
    max-width: 50em;
}

.cardContainerSm {
    display: inline-block;
    margin-right: 2em;
    max-width: 20em;
}

.cardContainer {
    margin: 1em;
    display: table;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    h1 {
        font-size: 1em;
        padding-left: 1em;
    }
}

.card {
    padding: 1em;
    transition: color 0.15s ease, border-color 0.15s ease;
    display: table-cell;
    vertical-align: top;
    min-width: 15em;

    a {
        background: #719fc0;
        width: 100%;
        display: block;
        padding: 1em;
        color: white;
        margin-top: 1em;
        .slide {
            margin-left: 0.5em;
        }
    }

    a:hover {
        text-decoration: none;
        background: #3596dc;
        .slide {
            transform: translateX(10em);
            position: absolute;
            transition: all 1s;
        }
    }
}

