.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    padding-top: 1em;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 80em;
}

.footer {
  background: #c2d9e8;
  width: 100%;
  text-align: center;
  padding: 1em;
  margin-top: 3em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}